<footer class="footer">
  <small>
    <%= link_to  t("static_pages.title"), root_path %>
  </small>
  <nav>
    <ul>
      <li>
        <a href="http://news.railstutorial.org/" target = "_blank">
        <%= t "news" %></a>
      </li>
    </ul>
  </nav>
</footer>
